@import url("nv.d3.min.css");
@import url("http://fonts.googleapis.com/css?family=Pontano Sans");

text {
  font-family: "Pontano Sans";
}
.text {
  font-family: "Pontano Sans";
}
h3 {
  font-family: "Pontano Sans";
  font-size: 150%;
  font-weight: normal;
  color: #D00000;
}
h2 {
  font-family: "Pontano Sans";
  font-size: 120%;
  font-weight: normal;
  color: #C04040;
}
.button {
  border-radius: 10px
  border: 0px
}
